// app/components/Header.scss
.header {
  .navbar-brand {
    font-weight: 800;
    font-size: 1.5rem;
  }

  .nav-link {
    &:hover {
      color: #e94560;
    }
  }

  .nav-link.active {
    color: #e94560; // Change to your desired active link color
    font-weight: bold;
  }
}
